<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        <p>View my source code {{ $.Site.Data.config.name }} on <a href="https://github.com/emiltsi/emilportfolio">GitHub</a>, © {{ dateFormat "2006" now }}</p>
        <ul>
            {{ if not .IsHome }}
            <li><a href="/">Home</a></li>
            {{end}}
            {{- range $.Site.Data.config.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul>
    </footer>
</div>
